@font-face {
    font-family: dm;
    src: url(./fonts/DMSerifDisplay-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: dm;  
}
:root{
    --first-color:#2A3950;
    --second-color:#FFFFFF;
    --last-color:#00E0C7;
}
.container{
    max-width: 1620px;
    margin: 0px auto;

}



