/* --------SECTION CAR------  */

.section_join{
    background-color:var(--first-color);
    padding-bottom: 100px;
}
.join_section{
}

.join_img{
    display: flex;
    justify-content: center;
}
.join_input{
    border-radius: 50px;
    background-color:#006270;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

}
.join_h2{
    font-weight: 400;
    font-size:62px;
    line-height: 69px;
    color: #fff;
}
.join_p{
    font-weight: 600;
    font-size: 20px;
    line-height: 26.6px;
    color: #fff;
    margin-bottom: 50px;
}
input{
    font-weight: 400;
    font-size:30px;
    padding:35px 1160px 35px 50px;
    width: 1480px ;
    height: 106px;

}
.join_btn{
    padding: 20px 82px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35.16px;
    background-color:#00E0C7;
    font-family: sans-serif;
    position: relative;
    bottom:90px ;
    right:-570px;
    border: none;
}